body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    flex-direction: column;
}

.container > div {
    padding: 10px;

}

.container > input {
    margin: 5px;
}

#info, #wordContainer, #counter {
    display: none;
}

#word, #time {
    font-size: 36px;
    font-weight: 700;
}

#info {
    min-height: 30px;
    align-items: start;
}

#pageLayout {
    display: flex;
    width: 100%;
    min-height: 100vh;
}

#gameContainer {
    flex: 0 0 80%;
    width: 80%;
}

#sideContainer {
    flex: 0 0 20%;
    width: 20%;
    transition: width 0.3s ease; flex-basis: 0.3s ease;
    overflow: hidden;
}

#sideContainer.closed {
    flex-basis: 0;
    width: 0;
}

#infoContainer {
    background-color: azure;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#resultsContainer h2 {
    font-family: "Sofia", sans-serif;
    font-size: 36px;
}

#gameContainer > h1 {
    font-family: "Sofia", sans-serif;
    font-size: 48px;
    text-align: center;
}

#info {
    align-items: center;
    justify-content: center;
}